# generic
.DS_Store
.vagrant

# code & config
_service-provider/*
_solr/schema.xml
_src/*
local/*
.vscode
__pycache__
log/*
!log/README.md
metadata/*
!metadata/README.md
src/*
!src/README.md

# environment
.env
.env.*
pycsw.conf.template.*
index.html.*

# environment allowlist
!.env.example
!.env.codespaces
!.env.es.example
!.env.localhost
samples/api/*

# docker compose files
docker-compose.local-*.yml
