name: Build & Push CKAN-Spatial Docker image 

on:
  # Trigger the workflow after build.yml,
  # but only for the master branch and tags
  workflow_run:
    workflows: ["Build CKAN Docker auxiliary images"]
    branches: [master]
    types: 
      - completed
    tags:
      - 'ckan-*.*.*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: mjanez/ckan-spatial

jobs: 
  build:  
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Login to registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: CKAN Build and push
        uses: docker/build-push-action@v4
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ startsWith(github.ref, 'refs/tags/ckan-') && replace(github.ref, 'refs/tags/', '') }}
          labels: ${{ steps.meta.outputs.labels }}
          context: ./ckan
          file: ./ckan/Dockerfile
